@font-face {
	font-family: 'Poppins';
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
	/* You can also specify different font file formats for better compatibility */
}

:root {
	--bg-color: #fff;
	--body-color: #2e8b57;
	--text-color: #6e6e6e;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
article {
	padding: 50px;
	text-align: justify;
}

article h2 {
	background-color: var(--body-color);
	color: var(--bg-color);
	padding: 10px;
}
article p {
	margin-bottom: 30px;
	line-height: 25px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: var(--text-color);
	font-size: 1.2em;
}

article ol li {
	color: var(--text-color);
	font-size: 1.2em;
	padding-bottom: 0.8em;
	line-height: 25px;
}

.btn {
	display: inline-block;
	padding: 1.2rem 2.8rem;
	background: var(--bg-color);
	border-radius: 0.6rem;
	box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
	color: var(--main-color);
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	font-weight: 600;
	border: 0.2rem solid transparent;
	transition: 0.5s ease;
	border-radius: 10px;
}

.btn:hover {
	scale: 1.1;
}

/* GENERAL STYLING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* font-family: Arial, sans-serif; */
	font-family: 'Poppins', sans-serif;
	background: url(wallpaper.jpeg);
	color: var(--body-color);
}

section {
	min-height: 50vh;
	/* padding: 25px 0; */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: var(--bg-color);
	/* padding: 0 7%; */
}

/* HEADER SECTION STYLING */
.header {
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #000;
	/* margin-bottom: 20px; */
}

.header .header-container {
	max-width: 1200px;
	top: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: var(--bg-color);
}

.header .logo {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid grey;
}

.header .logo img {
	width: 100px;
	height: 100px;
}

.header .logo h1 {
	font-size: 4em;
	padding-bottom: 5px;
}

.header .logo-text p {
	font-size: 2em;
	padding-bottom: 10px;
}

#date {
	display: flex;
	padding: 10px;
	align-items: flex-end;
}

.header .menu .head {
	display: none;
}

.header .menu ul {
	list-style: none;
}

.header .menu > ul > li {
	display: inline-block;
}

.header .menu > ul > li:not(:last-child) {
	margin-right: 40px;
}

.header .menu .dropdown {
	position: relative;
}

.header .menu a {
	text-decoration: none;
	font-size: 1.8em;
	color: var(--body-color);
	line-height: 1.5;
	display: block;
	text-align: left;
}

.header .menu > ul > li > a {
	padding: 24px 0;
}

.header .menu > ul > .dropdown > a {
	padding-right: 15px;
}

.header .menu i {
	font-size: 10px;
	pointer-events: none;
	user-select: none;
	position: absolute;
	color: var(--body-color);
	top: calc(50% - 5px);
}

.header .menu > ul > li > i {
	right: 0;
}

.header .menu .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 230px;
	padding: 15px 0;
	background-color: var(--bg-color);
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
	z-index: 1;
	transform-origin: top;
	transform: scaleY(0);
	visibility: hidden;
	opacity: 0;
}

.header .menu .sub-menu-right {
	left: 100%;
	top: 0;
}

.header .menu li:hover > .sub-menu {
	opacity: 1;
	transform: none;
	visibility: visible;
	transition: all 0.5s ease;
}

.header .menu .sub-menu a {
	padding: 6px 24px;
	font-size: 1.2em;
}

.header .menu .sub-menu .dropdown > a {
	padding-right: 34px;
}

.header .menu .sub-menu span {
	background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
	background-size: 0 1px;
	background-repeat: no-repeat;
	background-position: 0 100%;
	transition: background-size 0.5s ease;
}

.header .menu .sub-menu li:hover > a > span {
	background-size: 100% 1px;
}

.header .menu .sub-menu i {
	transform: rotate(-90deg);
	right: 24px;
}

.header-right {
	display: flex;
}

.header-right > * {
	margin-left: 25px;
}

.header-right .icon-btn {
	background-color: var(--bg-color);
	border: none;
	cursor: pointer;
	color: var(--body-color);
	font-size: 1em;
}

.header-right .open-menu-btn {
	display: none;
	color: var(--body-color);
	background-color: var(--bg-color);
}

.header-right .open-menu-btn {
	background-color: var(--body-color);
	margin: 5px 0;
}
.header-right .open-menu-btn span {
	color: var(--bg-color);
}

.header-right .open-menu-btn:hover {
	scale: 1.1;
}
/* END OF HEADER SECTION STYLING */

/* WELCOME SECTION STYLING */

/* TO TOP BUTTON STYLING */
#menuToTopBtn {
	position: fixed;
	bottom: -50px;
	/* initially hide the button */
	right: 20px;
	background-color: #333;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	transition: bottom 0.3s ease;
}

#menuToTopBtn.show {
	bottom: 20px;
	/* show the button */
}

/* END OF TO TOP BUTTON STYLING */

/* MAIN SECTION STYLING */

/* HOME SECTION STYLING */
#carousel {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	height: 70vh;
}

.carousel-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s ease;
}

.carousel-item.active {
	opacity: 1;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	/* object-fit: contain; */
}

.carousel-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--body-color);
	font-weight: 800;
	font-size: 1.6rem;
	text-align: center;
	/* background-color:; */
	padding: 10px;
	max-width: 80%;
}

.carousel-caption span {
	display: block;
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 10px;
}

/* END OF HOME SECTION STYLING */
/* START OF WELCOME DIV STYLING */
.welcome .container {
	border-bottom: 1px solid black;
}

.welcome-container {
	padding: 20px 0;
}

.welcome-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.welcome-text h1 {
	font-size: 3em;
	padding-bottom: 10px;
}

.welcome-text i {
	font-size: 1.5em;
	padding-bottom: 20px;
	color: var(--text-color);
}

.marquee {
	width: 100%;
	overflow: hidden;
	white-space: wrap;
}

.marquee p {
	font-size: 1em;
	animation: marquee 25s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

/* END OF WELCOME DIV STYLING */
/* START OF ABOUT SECTION STYLING */
.about {
	width: 100%;
	height: 100%;
}

.about .container {
	display: flex;
	gap: 20px;
	/* align-items: flex-start; */
	padding: 10px 50px;

	/* Align items to the start of the flex container */
}

.about-image {
	width: 100%;
	height: 100%;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.image-heading {
	padding-bottom: 20px;
	font-size: 2em;
}

.photo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.photo.active {
	opacity: 1;
}

.photo img {
	width: 300px;
	height: 320px;
	object-fit: cover;
}

.image-text {
	text-align: center;
}

.about-text {
	flex: 1;
	padding: 20px;
}

.about-text p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5em;
	line-height: 1.2;
	text-align: justify;
	color: var(--text-color);
}

/* END OF ABOUT SECTION STYLING */

/* INTRO SECTION STYLING */
.intro .container {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #333;
	padding: 20px 0;
}

.intro .container h1 {
	text-align: center;
	font-size: 2em;
	padding-bottom: 20px;
}

.intro .container p {
	color: var(--text-color);
}

.intro-container {
	text-align: center;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.cards .card h2 {
	padding-bottom: 20px;
	font-size: 1.6em;
}

.cards .card h3 {
	padding-top: 10px;
	font-size: 1.4em;
}

.cards .card p {
	font-size: 1.2em;
	padding-bottom: 6px;
}

/* .reading {
	background-color: ;
} */

/* END OF INTRO SECTION STYLING */
/* START OF HISTORY SECTION STYLING */
.ourHistory-text {
	padding: 20px;
	text-align: justify;
}
.ourHistory-text h2 {
	font-size: 1.8em;
	margin-bottom: 0.8em;
	background-color: var(--body-color);
	color: var(--bg-color);
	padding: 10px;
}
.ourHistory-text p {
	color: var(--text-color);
	margin-bottom: 30px;
}

.counter-card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.counter {
	font-size: 1.6em;
	text-align: center;
	margin: 20px 0;
	background-color: var(--body-color);
	color: var(--bg-color);
}

.count {
	display: block;
	/* Display inline */
	font-weight: 900;
}

.counter-text {
	/* display: block; */
	/* If you want to style the text separately */
	font-style: italic;
	margin-left: 5px;
}
/* END OF HISTORY SECTION STYLING */

/* START OF PATRON SAINT SECTION STYLING */
.patronSaint article {
	padding: 20px;
}

.patronSaint article h1 {
	font-size: 2em;
	margin-bottom: 10px;
	background-color: var(--body-color);
	color: var(--bg-color);
	padding: 10px;
}
/* END OF PATRON SAINT SECTION STYLING */

/* START OF SOCIETIES SECTION STYLING */
.parishSocieties .container {
	background-color: #fff;
	padding: 20px;
}
.parishSocieties table {
	border-collapse: collapse;
	width: 100%;
}
.parishSocieties .table h3 {
	text-transform: uppercase;
	padding-bottom: 20px;
}

.parishSocieties th,
.parishSocieties td {
	padding: 8px;
	text-align: left;
	border: none;
}

.parishSocieties th {
	background-color: #f2f2f2;
}

.parishSocieties tr:nth-child(even) {
	background-color: #f2f2f2;
}

.parishSocieties th:first-child,
.parishSocieties td:first-child {
	border-left: none;
}

.parishSocieties th:last-child,
.parishSocieties td:last-child {
	border-right: none;
}
/* END OF SOCIETIES SECTION STYLING */
/* START OF ACTIVITIES SECTION STYLING */
.activities {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding-top: 20px;
}

.activities-head {
	font-size: 1.6em;
}
.activities .content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	padding: 20px;
	width: 80%;
}
.content .content-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	gap: 0.8em;
	padding: 20px;
}

.content-card h3 {
	font-size: 1.6em;
	background-color: var(--body-color);
	color: var(--bg-color);
	padding: 10px;
	border-radius: 5px;
}

.content-card p {
	font-size: 1.2em;
	color: var(--text-color);
	font-weight: 600;
	padding: 5px;
}
/* END OF ACTIVITIES SECTION STYLING */

/* START OF CONTACT SECTION STYLING */
.contact-map {
	text-align: center;
	padding: 20px;
}

iframe {
	max-width: 70rem;
	height: 500px;
	margin: 0 auto;
	padding: 20px;
}
.contact-form {
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	/* margin-bottom: 3rem; */
	padding: 20px 0;
}

.contact-form h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 3rem;
}

.contact .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--body-color);
	background: var(--bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
	box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input {
	width: 49%;
}

.contact form textarea {
	resize: none;
}

.contact form .btn {
	background-color: var(--body-color);
	color: var(--bg-color);
	margin-top: 2rem;
	cursor: pointer;
}
/* END OF CONTACT SECTION STYLING */
/* START OF DONATION SECTION STYLING */
.parish_donations {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 30px;
}
.donation-head h2 {
	font-size: 3em;
	background-color: var(--body-color);
	color: var(--bg-color);
	padding: 10px;
	border-radius: 5px;
}
.donation-body {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
}
.donation-body h4 {
	font-size: 2em;
	padding: 20px;
	font-weight: 700;
}
.donation-body p {
	font-size: 1.4em;
	padding: 10px;
	font-weight: 500;
}
/* END OF DONATION SECTION STYLING */
/* END OF MAIN SECTION STYLING */

/* FOOTER SECTION STYLING */
footer .container {
	margin-top: 20px;
	background-color: #fff;
	color: #000;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footer {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

.footer-section {
	box-sizing: border-box;
}

.footer-section:last-child {
	margin-right: 0;
}

footer h2 {
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
	background-color: var(--body-color);
	border-radius: 10px;
	color: var(--bg-color);
}

footer p {
	/* font-size: var(--third-size); */
	margin-bottom: 10px;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer li {
	margin-bottom: 10px;
}

footer a {
	text-decoration: none;
	font-size: 1.2em;
	color: var(--body-color);
}

footer a:hover {
	text-decoration: underline;
}
.footer-social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-social-icon a {
	color: #fff;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-right: 15px;
}
.footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}
#facebook-bg {
	background: #3b5998;
}
.footing .container {
	background-color: #fff;
	color: #000;
	font-size: 1.5em;
	text-align: center;
	border-top: 2px solid black;
	padding: 10px 0;
	font-weight: bold;
}

/* END OF FOOTER SECTION STYLING */

@media (max-width: 991px) {
	.header {
		padding: 12px 0;
	}

	.header .menu {
		position: fixed;
		right: 0;
		top: 0;
		width: 320px;
		/* height: 100%; */
		background-color: hsl(0, 0%, 100%);
		padding: 15px 30px 30px;
		overflow-y: auto;
		z-index: 1;
		transform: translateX(100%);
	}

	.header .menu.open {
		transform: none;
	}

	.header .menu .head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}

	.header .menu .close-menu-btn {
		height: 35px;
		width: 35px;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #000;
		cursor: pointer;
		border: none;
	}

	.header .menu .close-menu-btn::before,
	.header .menu .close-menu-btn::after {
		content: '';
		position: absolute;
		width: 80%;
		height: 2px;
		background-color: hsl(0, 0%, 100%);
	}

	.header .menu .close-menu-btn::before {
		transform: rotate(45deg);
	}

	.header .menu .close-menu-btn::after {
		transform: rotate(-45deg);
	}

	.header .menu > ul > li {
		display: block;
	}

	.header .menu > ul > li:not(:last-child) {
		margin-right: 0;
	}

	.header .menu li {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.25);
	}

	.header .menu li:first-child {
		border-top: 1px solid hsla(0, 0%, 0%, 0.25);
	}

	.header .menu > ul > li > a {
		padding: 12px 0;
	}

	.header .menu > ul > .dropdown > a {
		padding-right: 34px;
	}

	.header .menu i {
		height: 34px;
		width: 34px;
		border: 1px solid hsla(0, 0%, 0%);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		pointer-events: auto;
		cursor: pointer;
		top: 7px;
	}

	.header .menu .dropdown.active > i {
		background-color: hsla(0, 0%, 0%, 0.25);
		transform: rotate(180deg);
	}

	.header .menu .sub-menu {
		position: static;
		opacity: 1;
		transform: none;
		visibility: visible;
		padding: 0;
		transition: none;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.header .menu .dropdown.active > .sub-menu {
		display: block;
	}

	.header .menu .sub-menu li:last-child {
		border: none;
	}

	.header .menu .sub-menu a {
		padding: 12px 0 12px 15px;
	}

	.header .menu .sub-menu .sub-menu a {
		padding-left: 30px;
	}

	.header .menu .sub-menu span {
		background-image: none;
	}

	.header .menu .sub-menu i {
		transform: none;
		right: 0;
	}

	.header-right .open-menu-btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 44px;
		cursor: pointer;
		position: relative;
		/* background-color: transparent; */
		border: none;
		color: #000;
	}

	.header-right .open-menu-btn .line {
		height: 2px;
		width: 30px;
		background-color: hsl(0, 0%, 100%);
		position: absolute;
	}

	.header-right .open-menu-btn .line-1 {
		transform: translateY(-8px);
	}

	.header-right .open-menu-btn .line-3 {
		transform: translateY(8px);
	}

	/* ABOUT SECTION */
	.about .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-image {
		margin-bottom: 28em;
	}
	.photo {
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 486px) {
	html {
		font-size: 62.5%;
	}
	.about-image {
		display: block;
		align-items: center;
		justify-content: center;
		margin-bottom: 16em;
	}
	.photo {
		margin-left: -2em;
		align-items: center;
		justify-content: center;
	}

	.photo img {
		width: 160px;
		height: 150px;
	}
	.cards {
		width: 80%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		padding-bottom: 10px;
	}
	.card {
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid var(--text-color);
		padding: 10px;
	}
	.footer {
		display: flex; /* Use flexbox for layout */
		flex-direction: column; /* Stack items vertically */
		align-items: flex-start; /* Align items to the left */
		text-align: left; /* Align text to the left */
	}
	.footer-section {
		width: 100%; /* Make each section occupy full width */
		margin-bottom: 20px; /* Add some space between sections */
	}
}
